     <div class="content-page tabcontent" id="tabRoles">
            <div class="content full-content">
                <div class="overflow-hidden content-section">
                    <h1>Definition Roles</h1>
                    <p> Roles are rules who are authorized in the actions taken in the project.Some roles have every authority in the system, while others have limited authority.</p>
                </div>
                <div class="overflow-hidden content-section">
                    <h2>Root</h2>
                    <p>Root has all the privileges on the system.The root user cannot be added or removed by the system.It can only be processed by the developer.
                        <br>
                    </p>
                </div>
                <div class="overflow-hidden content-section">
                    <h2>Administrator</h2>
                    <p>Administrator cannot add the user to the system, but it is a user with full authority for other processes.
                        <br>
                    </p>
                </div>
                <div class="overflow-hidden content-section">
                    <h2>Developer</h2>
                    <p>The developer user can only add components to the system view, update and delete the components he / she has added.Apart from these transactions,he has no other processing authority.
                        <br>
                    </p>
                </div>
                <div class="overflow-hidden content-section">
                    <h2>Editor</h2>
                    <p>The developer user can only add blogs to the system view,update and delete the blogs he / she has added.Apart from these transactions,he has no other processing authority.
                        <br>
                    </p>
                </div>
                <div class="overflow-hidden content-section">
                    <h2>User</h2>
                    <p>User can add projects to the system and view and edit their own projects, other than that, they do not have any action.
                        <br>
                    </p>
                </div>
            </div>
        </div>